<template>
  <div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
          <h2>{{ session.title }}</h2>
            <router-link :to="{name: 'home'}">Back</router-link>
          <table class="mdl-cell mdl-cell--12-col mdl-data-table
              mdl-js-data-table mdl-shadow--2dp checklists-table">
            <tbody>
                <tr v-for="cl in checkLists" @click="selectSession(cl.id)"
                  :class="[cl.curChecks == cl.totalChecks ?
                  'mdl-color--grey-300' : '']">
                  <td>{{ cl.title }}</td>
                  <td class="mdl-data-table__cell--numeric">
                      <span class="mdl-chip"
                        :class="cl.curChecks == cl.totalChecks ?
                        ['mdl-color--light-green', 'mdl-badge',
                        'mdl-badge--overlap'] : []" :data-badge="cl.curChecks
                        == cl.totalChecks ? '√': ''">
                        <span class="mdl-chip__text">
                          {{ cl.curChecks }} / {{ cl.totalChecks }}
                      </span>
                    </span>
                  </td>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
    <router-link class="add-picture-button mdl-button mdl-js-button
                        mdl-button--fab mdl-button--colored" to="/add">
      <i class="material-icons">add</i>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'session',
  methods: {
    selectSession: function (id) {
      this.$router.push({name: 'checklist', params: {id: this.$route.params.id, id2: id}})
    }
  },
  data () {
    return {
    }
  },
  computed: {
    session: function () {
      return this.$store.getters.getSession(this.$route.params.id)
    },
    checkLists: function () {
      return this.$store.getters.getSessionLists(this.session)
    }
  }
}
</script>
<style scoped>
  .checklists-table tr {
    cursor: pointer;
  }
  .add-picture-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 998;
  }
</style>
